<div class="header--sticky">
  <app-header-bar-back title="Edit user"></app-header-bar-back>
</div>
<div class="container">
  <div class="user-form">
    <ng-container *ngIf="!loading; else loadingTemplate">
      <ng-container *ngTemplateOutlet="infoUserTemplate"></ng-container>
    </ng-container>
  </div>
</div>

<ng-template #loadingTemplate>
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</ng-template>

<ng-template #infoUserTemplate>
  <div class="user-form__profile">
    <img src="{{user.profileImage}}" alt="Profile"/>
    <div class="user-form__profile-text">
      <p><strong>{{user.fullName}}</strong></p>
      <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 2000s</span>
    </div>
  </div>
  <mat-tab-group mat-stretch-tabs class="user-form__tabs" animationDuration="0ms">
    <mat-tab label="User details">
      <ng-template matTabContent>
        <app-user-edit-profile [user]="user"></app-user-edit-profile>
      </ng-template>
    </mat-tab>
    <mat-tab label="Account details">
      <ng-template matTabContent>
        <app-user-edit-account [user]="user"></app-user-edit-account>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ng-template>
