@import "src/styles/mixins/responsive";

.user-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;

  @include min-width(tablet) {
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto;
  }

}

.user-form__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 30px;

  @include min-width(tablet) {
    width: 30%;
    flex-direction: column;
  }

  & > img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.user-form__tabs {
  width: 100%;
  @include min-width(tablet) {
    width: 70%;
  }
}
