<div class="container user-create__container">
  <h3>Users details</h3>

  <div class="form-container">
    <mat-form-field>
      <label>
        <input type="text" matInput placeholder="Full Name" required/>
      </label>
    </mat-form-field>

    <mat-form-field>
      <label>
        <input matInput [matDatepicker]="picker" placeholder="Your birthday" required>
      </label>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Gender" required>
        <mat-option *ngFor="let item of listGender">
          {{item.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>
